{
    "presets": [
        ["@babel/preset-env", {
            "modules": false
        }],
        "@babel/preset-react"
    ],
    "plugins": [
        "react-loadable/babel",
        ["@babel/plugin-proposal-decorators", {
            "legacy": true
        }],
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-syntax-dynamic-import",
        "react-hot-loader/babel"
    ],
    "env": {
        "development": {
            "plugins": [
                ["react-css-modules", {
                    "generateScopedName": "[path]_[name]_[local]_[hash:base64:5]",
                    "filetypes": {
                        ".scss": {
                            "syntax": "postcss-scss"
                        }
                    },
                    "handleMissingStyleName": "warn"
                }]
            ]
        },
        "production": {
            "plugins": [
                ["react-css-modules", {
                    "generateScopedName": "[local]_[hash:base64:5]",
                    "filetypes": {
                        ".scss": {
                            "syntax": "postcss-scss"
                        }
                    }
                }]
            ]
        }
    }
}
